.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.description-main {
  text-align: left;
}

.black-color-text {
  color: black;
  text-align: left;
}

.Hello {
  position: absolute;
  margin: 0;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: xxx-large;
}

.Hello1 {
  position: absolute;
  margin: 0;
  color: white;
  left: 50%;
  top: 50%;
  font-size: xxx-large;
  transform: translate(-50%, 80%);
}

.navBarCenterText {
  margin-top: 2rem;
  text-align: center;
}

.progIcons {
  height: 50%;
  max-width: 50%;
  margin: 2%
}

.nav-links:hover, .nav-links:active {
  background-color: red;
  /*will change background-color of element on hover */
  color: white;
  /*will change color of text within the element on hover */
}

.gaugeTitle {
  font-weight: bold;
  text-align: center;

}

.mainpage {
  background-color: #212121;
  color: white
}

.EMPHASISDATE {
  font-weight: bolder;
}

.AsOfDate {
  text-align: center;
  font-size: xx-large;
}

.cardFormat {
  min-width: auto;
  min-height: auto;
  margin: 1rem 1rem;
}

.formFormat {
  margin: 2rem 3rem;
  padding-bottom: 2rem;
}

.AccordionFormat {
  background-color: #212121;
  color: white;
}

.textFormatForCard {
  color: black;
}

.aboutMePadding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footerFormat {
  text-align: center;
  font-weight: bold;
}

.cardImg {
  min-height: 120px;
  max-height: 20vh;
  min-width: 150px;
  max-width: 16vh;
  padding: 1rem 1rem 0 1rem;
  margin: auto;
}

section {
  min-height: 100vh;
}

.box {
  margin: 1rem;
  min-height: 33%;
  max-height: 33%;
  min-width: 33%;
  max-width: 33%;
}

.box2 {
  min-height: 33%;
  max-height: fit-content;
  min-width: 33%;
  max-width: 100%;
}

.grid {
  min-height: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid>div {
  -ms-flex-align: center;
  flex-basis: content;
  flex-direction: row;
  flex-flow: row wrap;
}

.paddingForContact {
  padding-top: 5%;
}

.carouselImg {
  min-height: 88vh;
  max-height: 88vh;
  max-width: none;
  flex-shrink: 0;
  align-self: center;
}

.paddingforGaugeTitle {
  margin-top: 50%;
}

.gaugeStyle {
  min-height: auto;
  width: 33%;
}

.grid2 {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.paddingEmail {
  padding-right: 2rem;
}

.formatForFooter {
  bottom: 80px;
  left: 16px;
  font-size: 18px;
}

.projImg {
  max-height: 120px;
  max-width: 150px;
  align-content: center;
  background-color: white;
}

.projCardFormat {
  min-width: auto;
  min-height: fit-content;
}

